.header-bar {
  margin: 0 -15px;
  font-size: 2.5rem;
  text-transform: uppercase;
  background: #2d71c7;
  color: #fff;
  height: 70px;
  padding: 10px 20px;
}

.no-margin .form-group,
.no-margin .checkbox,
.no-margin .table {
  margin-top: 0;
  margin-bottom: 0;
}

.page-main-content {
  padding-bottom: 75px;
}

.page-actions {
  border-top: 1px solid #ddd;
  padding: 0 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: flex-end;
  background: #fafafa;
}

.page-actions .btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.notext {
  color: transparent !important;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-push {
  margin-left: auto;
}

.flex-gap1 {
  gap: 1rem;
}

.flex-gap2 {
  gap: 2rem;
}

.small-table {
  overflow: auto;
  white-space: nowrap;
}

.snippets-file-name {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #666;
}
