.lca-page {
  height: 100%;
}
.lca-page > body {
  height: 100%;
}
.lca-page > body > .container-fluid {
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
}
.lca-page .header-bar {
  flex: 0 1 auto;
}
.lca-page .page-main-content {
  flex: 1 1 auto;
  overflow: auto;
  padding: 0 15px;
}
.lca-page .page-actions {
  flex: 0 1 auto;
}

.header-bar {
  font-size: 2rem;
  text-transform: uppercase;
  background: #2d71c7;
  color: #fff;
  padding: 5px 10px;
}
.header-bar img {
  height: 35px;
}

.no-margin .form-group,
.no-margin .checkbox,
.no-margin .table {
  margin-top: 0;
  margin-bottom: 0;
}

.page-actions {
  border-top: 1px solid #ddd;
  padding: 0 1rem;
  justify-content: flex-end;
  background: #fafafa;
}

.page-actions .btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.notext {
  color: transparent !important;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-push {
  margin-left: auto;
}

.flex-gap1 {
  gap: 1rem;
}

.flex-gap2 {
  gap: 2rem;
}

.small-table {
  overflow: auto;
  white-space: nowrap;
}

.snippets-file-name {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #666;
}
